---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import {
  IconChevronLeft,
  IconChevronRight,
  IconLink,
  IconShoppingCart,
} from "@tabler/icons-react";
import ReleaseCard from "@/components/ReleaseCard.astro";
import SpotlightArtist from "@/components/SpotlightArtist";
import Badge from "@/components/ui/Badge.astro";
import Layout from "@/layouts/Layout.astro";
import { getLabelReleases } from "@/lib/beatport";

const beatportReleases = await getLabelReleases();
const artists = await getCollection("artists");

const heroRelease = beatportReleases.find((release) => !release.pre_order);

const upcomingReleases = beatportReleases.filter(
  (release) => release.pre_order,
);
---

<Layout title="Home">
  <div class="pt-10 pb-32">
    <!-- Hero Section -->
    <section
      class="relative px-6 py-12 lg:py-24 max-w-7xl mx-auto overflow-hidden"
    >
      <div class="relative z-10 grid lg:grid-cols-2 gap-12 items-center">
        <div class="flex flex-col gap-8">
          <h1
            class="text-6xl md:text-8xl font-black leading-none tracking-tighter"
          >
            <div class="overflow-hidden">
              <span class="reveal-text block">{heroRelease?.name}</span>
            </div>
            <div class="flex gap-2 overflow-hidden">
              {
                heroRelease?.artists.map((artist, index) => (
                  <span class="reveal-text block text-primary italic text-6xl">
                    {artist.name}
                    {index < (heroRelease?.artists.length || 0) - 1 && " & "}
                  </span>
                ))
              }
            </div>
          </h1>
          <div class="flex gap-2 reveal-text">
            <Badge color="green">Exclusive</Badge>
            <Badge color="primary">{heroRelease?.publish_date}</Badge>
            <Badge color="secondary">{heroRelease?.price.display}</Badge>
          </div>
          <p class="text-lg text-slate-400 max-w-md font-sans reveal-text">
            {heroRelease?.desc}
          </p>
          <div class="flex flex-wrap gap-4 reveal-text">
            <a
              href={`https://www.beatport.com/release/${heroRelease?.slug}/${heroRelease?.id}`}
              target="_blank"
              class="flex items-center gap-2 bg-primary text-white px-8 py-4 rounded-xl font-bold uppercase tracking-widest text-sm hover:scale-105 transition-transform glow-border"
            >
              Buy Now
              <IconShoppingCart />
            </a>
            <a
              href="/releases"
              class="bg-white/5 border border-white/10 hover:border-white/30 text-white px-8 py-4 rounded-xl font-bold uppercase tracking-widest text-sm transition-all text-center"
            >
              More releases
            </a>
          </div>
        </div>
        <div class="relative aspect-square flex justify-center">
          <!-- Abstract Visual Ornament -->
          <div
            class="absolute inset-0 bg-linear-to-tr from-primary/20 via-transparent to-secondary/20 rounded-full blur-[100px] animate-pulse"
          >
          </div>
          <div
            class="hero-image-container relative max-w-[600px] max-h-[600px] w-full aspect-square bg-cover bg-center rounded-2xl overflow-hidden shadow-[0_0_15px_1px_rgba(165,55,253,0.5)]"
          >
            {
              heroRelease && (
                <Image
                  src={heroRelease.image.uri}
                  alt="Featured Release"
                  width={600}
                  height={600}
                  class="w-full h-full object-cover"
                />
              )
            }
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Next Releases Section -->
  <section class="max-w-screen my-20 px-8 pb-12 bg-gray-900/90">
    <div class="flex flex-col justify-center items-center">
      <div class="flex items-end justify-between mb-10 w-full">
        <div>
          <div class="w-12 h-1 bg-primary mb-4"></div>
          <h2 class="text-4xl font-bold tracking-tight uppercase">
            Upcoming Releases
          </h2>
        </div>
        <a
          class="text-xs font-bold uppercase tracking-widest text-white hover:underline underline-offset-8"
          href="/releases"
          >View All
        </a>
      </div>
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-6">
        {
          upcomingReleases.map((release) => (
            <ReleaseCard beatportRelease={release} />
          ))
        }
      </div>
    </div>
  </section>
  <!-- Artist Spotlight Section (Overlap Design) -->
  {
    artists.length > 0 && (
      <section
        class="
        max-w-7xl
        mx-auto
        px-6
        py-12
        mt-40
        relative"
      >
        <div class="flex flex-col gap-6 bg-primary/10 rounded-3xl px-4 py-8 lg:px-12 lg:py-16 border border-primary/10 overflow-hidden">
          <div class="font-bold tracking-[0.3em] uppercase text-sm ml-20">
            Artists
          </div>
          <SpotlightArtist client:idle artists={artists} />
        </div>
      </section>
    )
  }
</Layout>
