---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { getEntry } from "astro:content";
import type { BeatportRelease } from "@/types";
import { IconPlayerPlay, IconPlayerPlayFilled } from "@tabler/icons-react";

interface Props {
  release?: CollectionEntry<"releases">;
  beatportRelease?: BeatportRelease;
}

const { release, beatportRelease } = Astro.props;

let title = "";
let cover: string = "";
let artistName = "";
let url = "#";

if (release) {
  const artist = await getEntry(release.data.artist);
  title = release.data.title;
  cover = release.data.cover;
  artistName = artist?.data.name || "Unknown Artist";
  url = `/releases/${release.slug}`;
} else if (beatportRelease) {
  title = beatportRelease.name;
  cover = beatportRelease.image.uri;
  artistName = beatportRelease.artists.map((a) => a.name).join(", ");
  url = `https://www.beatport.com/release/${beatportRelease.slug}/${beatportRelease.id}`;
}
---

<a
  href={url}
  class="group cursor-pointer"
  target={beatportRelease ? "_blank" : "_self"}
>
  <div
    class="aspect-square rounded-xl overflow-hidden border border-white/5 relative mb-4 transition-all duration-500 group-hover:border-primary/50 group-hover:shadow-sm group-hover:shadow-primary/80"
  >
    <Image
      src={cover}
      alt={title}
      width={400}
      height={400}
      class="w-full h-full object-cover group-hover:scale-110 duration-700"
    />
    <div
      class="absolute inset-0 bg-linear-to-t from-black/80 via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity"
    >
      <div class="absolute bottom-4 left-4">
        <IconPlayerPlayFilled />
      </div>
    </div>
  </div>
  <h3
    class="font-bold text-sm tracking-wide group-hover:text-primary transition-colors line-clamp-1"
  >
    {title}
  </h3>
  <p
    class="text-[10px] text-slate-400 uppercase tracking-widest mt-1 line-clamp-1"
  >
    {artistName}
  </p>
</a>
